<h2>Contact Bethany's Pie Shop</h2>
<p>If you Have any questions, please don't hesitate to get in touch. Click bellow to send us an email!</p>
<email address="aidasz_b@@yahoo.com" content="Contact us"></email>